{% extends "base.html" %}

{% block the_body %}

    <h1>{{the_title}}</h1>
    
    Pattern: <input type="text" name="pattern" hx-post="\processpattern" hx-target="#results"><br>

    <textarea id="results" readonly rows="5" cols="100">
    </textarea>
        
    <hr>
    <h2>Here is the log history</h2>

    <table border="1">
        <tr>
            <th hx-get="/byorder/ts" hx-target="#history" hx-swap="innerHTML">Timestamp</th>
            <th hx-get="/byorder/pattern" hx-target="#history" hx-swap="innerHTML">Pattern</th>
            <th hx-get="/byorder/matches" hx-target="#history" hx-swap="innerHTML"># of Matches</th>
        </tr>
        <tbody id="history">
            {% for row in data_table %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}